@import "../../global.scss";

.card-container {
  @include layout-flex-center;
  @include box-shadow-square;
  flex-direction: column;
  color: #eee;
  width: 70%;
  max-width: 400px;
  min-height: 250px;
  border-radius: 15px;
  padding: 15px;
  justify-content: flex-start;
  background-color: #6b013f;
  font-weight: 500;
  .card-image {
    width: 50px;
    height: 50px;
  }

  .card-header {
    font-size: 15px;
    text-align: right;
    padding-right: 15px;
    font-weight: 500;
  }
  .card-full-name {
    font-size: 15px;
    font-weight: 500;
  }
  .card-code {
    margin-right: 10px;
    font-size: 15px;
  }
  .card-date {
    padding: 15px;

    display: flex;
    justify-content: center;
  }
  .card-date-number {
    @include layout-flex-center;
  }
}
