@import "./global.scss";
.App {
  // text-align: center;
  min-height: 100vh;
  background: linear-gradient(
    174deg,
    rgba(121, 9, 100, 1) 0%,
    rgba(255, 0, 82, 1) 100%
  );
  @include layout-flex-center;
  justify-content: space-between;
  flex-direction: column;
  font-family: "Share Tech Mono", monospace;
}

// .App-logo {
//   height: 40vmin;
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #09d3ac;
// }
